<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/header.ejs') %>

        <div class="section">
            <div class="container">
                <div class="content-section">
                    <div>
                        <img src="images/fries3.jpg" alt="french fries">
                    </div>

                    <div class="title">
                        <h1>About Us</h1>
                        <p>In our work we try to use only the most modern, convenient and interesting solutions. We
                            want the
                            template you downloaded look unique and new for such a long time as it is possible.</p>
                        <button>Read More</button>
                    </div>

                </div>

            </div>




            <div class="create">
               <h2><u>Comments From Customers</u></h2>
                <div class="feedbacks">

                    <ul class="reviews">

                    
                    </ul>
                </div>
            </div>

            








            <%- include('./partials/footer.ejs') %>   

         <script src="script.js"></script>

    </body>

</html>