<!DOCTYPE html>
<html>

<%- include('./partials/head.ejs') %>

    <body>
            <div class="create">
                <h1>see feedbacks</h1>
                <div class="feedbacks">

                    <ul class="reviews">

                    
                    </ul>
                </div>
            </div>

            








            <%- include('./partials/footer.ejs') %>

         <script src="script.js"></script>

    </body>

</html>